
<%= form_with(model: cliente, local: true) do |form| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, placeholder: "000.000.000-00" %>
  </div>

  <div class="field">
    <%= form.label :endereco %>
    <%= form.text_field :endereco %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone, placeholder: "(00) 990000000"%>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, placeholder: "email@email.com" %>
  </div>

  <div class="actions">
    <%= form.submit(:class => 'button') %>
  </div>
<% end %>
