<%= render 'layouts/navigation' %>


<div class="main">
  <div class="alinha-conteudo-edit">
    <h2 class="h2_alinhamento">Editar <%= resource_name.to_s.humanize %></h2>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class=”field”>
          <div class="inputWithIcon inputIconBg">
             <%= f.label :username %><br/>
             <%= f.text_field :username, autofocus: true, autocomplete: "username", class:"user" %>
            <i class="fas fa-user-md" aria-hidden="true"></i>
          </div>
      </div>
       <br>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Aguardando confirmação de: <%= resource.unconfirmed_email %></div>
      <% end %>
    
      <div class="field">
        <%= f.label :password %> <i class="msg_i">Deixe em branco caso você não queira atualizar</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em>A senha deve conter no mínimo <%= @minimum_password_length %> caracteres</em>
        <% end %>
      </div>
    
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    
      <div class="field">
        <%= f.label :current_password %> <i class="msg_i">Confirme sua senha atual para atualizá-la</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>
    
      <div class="actions">
        <%= f.submit "Atualizar", class:"button" %>
      </div>
    <% end %>
    
    <h3>Área de Risco</h3>
    <br>
    
    <p>Você está infeliz?</p>
    <br>
    <%= button_to "Apague sua conta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
     <br>
    <%= link_to "Voltar", :back,class:"btn btn-1 btn-1a" %>
  </div>
</div>