<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<%= stylesheet_link_tag "clientes" %>
<div id="conteudo">

  <div id="formulario">
  <h2>Sign up</h2>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
  
    <div class="inputWithIcon inputIconBg">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
         <i class="fa fa-envelope" aria-hidden="true"></i>
      </div>
    </div>
    
    <div class="inputWithIcon inputIconBg">
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <i class="fas fa-lock" aria-hidden="true"></i>
      </div>
    </div>
  
    <div class="inputWithIcon inputIconBg">
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        <i class="fas fa-lock" aria-hidden="true"></i>
      </div>
    </div>
  
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
  
  </div>
    
</div>

<div id="banner">
     <%= link_to image_tag("banner.jpg", :alt => "Foto de uma veterinária atendendo um cachorro.") %>             
</div>
