<%= render 'layouts/navigation' %>


<div class="container-show">
  <div id="mostrar">
     <h1>Atendimento do Animal</h1>
    <p id="notice"><%= notice %></p>
    
    <div class="inf">
      <%= link_to image_tag("perfil-atendimento.png", :alt => "logo", class:"cliente-photo") %> 
    
      <div class="alinha-show">
        <p>
          <strong>Animal:</strong>
          <%= @atendimento.animal.nome %>
        </p>
      </div>
      
      <div class="alinha-show">
        <p>
          <strong>Observação:</strong>
          <%= @atendimento.observacao %>
        </p>
      </div>
      
      <div class="alinha-show">
        <p>
          <strong>Data:</strong>
          <%= @atendimento.data %>
        </p>
      </div>
      
        <%= link_to 'Editar', edit_atendimento_path(@atendimento), class: "btn btn-1 btn-1a" %>
        <%= link_to 'Voltar', atendimentos_path, class: "btn btn-1 btn-1a" %>
       </div>
    </div>
</div>