<%= render 'layouts/navigation' %>
<div id="mostrar">
  <p id="notice"><%= notice %></p>
  
  <p>
    <strong>Animal:</strong>
    <%= @atendimento.Animal.nome %>
  </p>
  
  <p>
    <strong>Observação:</strong>
    <%= @atendimento.observacao %>
  </p>
  
  <p>
    <strong>Data:</strong>
    <%= @atendimento.data %>
  </p>
  
  <%= link_to 'Editar', edit_atendimento_path(@atendimento) %> |
  <%= link_to 'Voltar', atendimentos_path %>
</div>