<%= render 'layouts/navigation' %>

<div class="container-show">
  <div id="mostrar">
    <h1>Informações do Animal</h1>
    
    <div class="inf">
        <%= link_to image_tag("perfil-animal.png", :alt => "logo", class:"cliente-photo") %> 
      <div class="alinha-show">
        <p>
          <strong>Nome:</strong>
          <%= @animal.nome %>
        </p>
      </div>
      
      <div class="alinha-show">
        <p>
          <strong>Cliente:</strong>
          <%= @animal.cliente.nome %>
        </p>
      </div>
      
      <div class="alinha-show">
        <p>
          <strong>Espécie:</strong>
          <%= @animal.especie %>
        </p>
      </div>
      
      <div class="alinha-show">
        <p>
          <strong>Raça:</strong>
          <%= @animal.raca %>
        </p>
      </div>
      
      <div class="alinha-show">
        <p>
          <strong>Nascimento:</strong>
          <%= @animal.nascimento %>
        </p>
      </div>
      
      <%= link_to 'Editar', edit_animal_path(@animal), class: "btn btn-1 btn-1a" %>
      <%= link_to 'Voltar', animals_path, class: "btn btn-1 btn-1a" %>
    </div>
  </div>
</div>