<div id="mostrar">
  <p id="notice"><%= notice %></p>
  
  <p>
    <strong>Nome:</strong>
    <%= @animal.nome %>
  </p>
  
  <p>
    <strong>Cliente:</strong>
    <%= @animal.cliente.nome %>
  </p>
  
  <p>
    <strong>Especie:</strong>
    <%= @animal.especie %>
  </p>
  
  <p>
    <strong>Raca:</strong>
    <%= @animal.raca %>
  </p>
  
  <p>
    <strong>Nascimento:</strong>
    <%= @animal.nascimento %>
  </p>
  
  <%= link_to 'Editar', edit_animal_path(@animal) %> |
  <%= link_to 'Voltar', animals_path %>
</div>