<!DOCTYPE html>

<%= stylesheet_link_tag "clientes" %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="sidenav">
  <%= image_tag("logo.png", :alt => "rss feed", class:"logo") %>
<div>

  <%= link_to 'Clientes', clientes_path, class:"menu" %>
  <%= link_to 'Animais', animals_path, class:"menu" %>
  <%= link_to 'Atendimentos', atendimentos_path, class:"menu" %>
</div>
</div>

<div id="container">

	

</div>

<div class="main">
  
</div>
